Telegram HTML Validator & Email Notifier/Telegram HTML Validator & Email Notifier.json
{
  "name": "sujaltelegramhtmlvalidator",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -920,
        60
      ],
      "id": "51a73bfc-471b-4b58-bb7a-7594e7b87164",
      "name": "Telegram Trigger",
      "webhookId": "664dfd82-c281-46d4-8957-ca2a4ac36287",
      "credentials": {
        "telegramApi": {
          "id": "zeLkqMbUtjKBJ40a",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "analyze the incoming data to check if its a valid html or not. if its valid return YES else return NO"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -740,
        40
      ],
      "id": "167a90a9-a528-446f-890e-4efa25520cbd",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('AI Agent').item.json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        380,
        0
      ],
      "id": "00c8ac88-7795-47a7-a025-976c4845c415",
      "name": "Send a text message",
      "webhookId": "efc89bf1-ecad-48a1-8829-762e02d754f4",
      "credentials": {
        "telegramApi": {
          "id": "MHLO6UPr9GVSZbGD",
          "name": "Telegram account 5"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "787e4be8-0229-414d-8735-cda7b2884ea6",
              "leftValue": "={{ $json.output }}",
              "rightValue": "YES",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -380,
        40
      ],
      "id": "aaa16bdc-6d4a-4a32-ad6c-f642d39e242f",
      "name": "If"
    },
    {
      "parameters": {
        "sendTo": "badalsujalbadal@gmail.com",
        "subject": "Invalid HTML Detected",
        "message": "=The following message sent to the Telegram bot contains invalid HTML. Please review the input and correct the HTML structure.",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -180,
        160
      ],
      "id": "b37c7990-0b39-4bce-b6ac-c09a6fbd2a25",
      "name": "Send a message",
      "webhookId": "8e98fa05-9839-4f9a-930f-072d186396ee",
      "credentials": {
        "gmailOAuth2": {
          "id": "N0EQvPt1oDbnRLHL",
          "name": "Gmail account 6"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('AI Agent').item.json.output }}",
        "options": {
          "systemMessage": "={{ $('Telegram Trigger').item.json.message.chat.id }}\nAnalyze the above html for the data contained in it and improve it to create a fascinating landing page for me. make sure you return only html."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "6c75505b-f1a8-423a-a3f2-73445bc5473f",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -740,
        260
      ],
      "id": "bf8264ac-d405-43b7-ae58-fa50d195914b",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "FPMmxmFiBI12rMmP",
          "name": "Google Gemini(PaLM) Api account 4"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        40,
        240
      ],
      "id": "1b942a88-d902-4fcd-a37a-7a48918b4944",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "B7YqVKK0lwiIT9h1",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fb31b835-4e28-4d3b-8b7d-b2dca7fd5835",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "23d6e706673909dcc5c2ae4a0ad429f27ffbf2e14065e359476bc69512497c9c"
  },
  "id": "F5ZZfk2kBTrbwRDA",
  "tags": []
}